.topBar{
  font-size: 1.5em;
  height: 2em;
  color: var(--primary-color);
  padding: 0 0.5em;
  display: flex;
  align-items: center;
}

.goBack{
  cursor: pointer;
}

.flex{
  flex: 1;
}

.star{
  cursor: pointer;
}
