.sort {
  display: flex;
  line-height: 3em;
  div {
    cursor: pointer;
    margin-right: 2em;
    &.select {
      color: red;
    }
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  text-align: center;

  .item {
    cursor: pointer;
    img {
      width: 100%;
    }
  }
}
